<div class="row justify-content-sm-center justify-content-lg-between">
    <div class="col-md-3 col-lg-2 col-sm-5 border   border-light rounded mx-1 p-1 ">
        <h5 class="text-center text-light">title</h5>
        <h1 class="mt-2 text-center">60</h1>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-5   rounded mx-1 red p-1">
        <h5 class="text-center ">title</h5>
        <h1 class="mt-2 text-center">60</h1>
    </div> 
     <div class="col-md-2 col-lg-2 col-sm-5 border mt-sm-2  border-light rounded mx-1 p-1 ">
        <h5 class="text-center text-light">title</h5>
        <h1 class="mt-2 text-center">60</h1>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-5 border   mt-sm-2  border-light rounded mx-1 p-1 ">
        <h5 class="text-center text-light">title</h5>
        <h1 class="mt-2 text-center">60</h1>
    </div>
   
   
</div>
<div class="row">
  
</div>