@import '../styles/colors';
.btn{
    border: 1px solid $blue;
    color: $blue;
    background-color: $white;
    
    margin-top: 1%;

    text-align: center;
    &:hover{
        background-color: $blue;
        color: $white;
    }



}
.green{
    color: $green;
    background-color: aliceblue;
    border: 0ch;
    &:hover{
        background-color: aliceblue;
        border: 0ch;
        color: lighten($color: $green, $amount: 40%)
    }
}
.red{
    background-color: aliceblue;
    border: 0ch;
    color:$red;
   &:hover{
        color: lighten($color: $red, $amount: 40%);
        background-color: aliceblue;
        border: 0ch;

    }
}
.border-red{
    border: 1px solid $red;
    border-radius: 20px;
}